:root {
    --background: #111827;
    --textColor: #F9FAFB;
    --greyColor: #D1D5DB;
    --mainColor: #6D28D9;
    --darkMainColor: rgb(87, 0, 128);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: monospace;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

.header {
    width: 100%;
    height: 50px;
    background: var(--mainColor);
    margin-bottom: 70px;

    display: flex;
    align-items: center;
    padding: 0px 50px;
}

.logo {
    color: var(--textColor);
    font-size: 20px;
    font-weight: bold;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: var(--textColor);
    font-size: 25px;
    font-weight: bold;
}

.copyright-content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.copyright-by {
    color: var(--greyColor);
    font-size: 16px;
    margin-right: 5px;
}

.copyright-name {
    color: var(--greyColor);
    font-size: 14px;
}

.picture-of-day-content {
    display: flex;
    margin-top: 30px;
}

.picture-of-day {
    width: 550px;
    height: 350px;
    border-radius: 10px;
    border: 3px solid var(--mainColor);
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 20px;
    transition: 0.2s;
}

.picture-of-day:hover + .picture-link-text {
    display: inline;
}

.picture-link {
    position: relative;
}

.picture-link-text {
    color: var(--textColor);
    text-decoration: none;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 60px;
    background: var(--darkMainColor);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    display: none;
    transition: 0.2s;
}

.picture-link-text:hover {
    display: inline;
    opacity: 0.6;
}

.explanation {
    max-width: 600px;
    font-size: 15px;
    color: var(--textColor);
    line-height: 24px;
}

.date {
    font-size: 14px;
    color: var(--textColor);
    margin-top: 30px;
}

@media screen and (max-width: 850px) {
    .container {
        height: 100%;
    }
    .picture-of-day-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .picture-of-day {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .picture-link-text {
        right: 40px;
    }
}

@media screen and (max-width: 540px) {
    .header {
        padding: 0px 0px;
        margin-bottom: 60px;
        justify-content: center;
    }
    .picture-link {
        width: 100%;
    }
    .picture-link-text {
        right: 20px;
    }
    .picture-of-day-content {
        width: 100%;
    }
    .picture-of-day {
        width: 100%;
        height: 300px;
    }
    .picture-of-day-about {
        font-size: 13px;
    }
    .logo {
        font-size: 16px;
        text-align: center;
    }
    .title {
        text-align: center;
    }
    .explanation {
        font-size: 12px;
    }
}